@charset "utf-8";
/* CSS Document */
.navi{ width:1400px; height:92px;  border-bottom:1px solid #dedede; margin-left:auto; margin-right:auto;}
.menus{ width:1000px;margin-left:auto; margin-right:auto;}
.logo{ float:left;}
.menu{ float:right;}
.menu ul li{ float:left; margin-top:35px; margin-left:38px; font-size:14px;}
.seled{ text-decoration:underline;}
.menu ul li a{ color:#000000; text-decoration:none;}
.menu ul li a:hover{}
.btn_login{ color:#2B90ED;}
.btn_login a{ border:1px solid #2B90ED; padding:5px 25px; text-decoration:none; color:#2B90ED;border-radius:3px;}
.btn_login a:link{ color:#2B90ED;}
.btn_login a:hover{ color:#ffffff; background:#2B90ED;}
.btn_register{ color:#ffffff;}
.btn_register a{ border:1px solid #2B90ED; padding:5px 25px;text-decoration:none; background:#2B90ED; color:#ffffff; border-radius:3px;}
.btn_register a:link{ color:#ffffff;}
.btn_register a:hover{ color:#ffffff; background:#5CB0FD;}
.focus{}
